.App {
  font-size: 20px;
}

h1,
.card-header,
.card-title,
.card-text,
.login-title-txt,
.pokemon-color-select,
.pokeball-spinner-container,
.errorMessage {
  text-align: center;
}

.card {
  height: auto;
  margin: 50px;
}

.card-footer {
  align-items: center;
  justify-content: center;
}

.card-header {
  font-size: larger;
}

.dashboard {
  height: 100%;
}

.errorMessage {
  color: red;
}

.kennected-nav-icon {
  width: 88.5px;
  height: 98.5px;
  margin-bottom: 7.5px;
}

.nav-button-text {
  color: #FFDE00;
  font-weight: '100';
}

.navbar-toggler {
  background-color: white;
  margin-right: 10px;
}

.pokedex-footer {
  text-align: center;
  padding: 1rem;
  background-color: #3B4CCA;
  color: #FFDE00;
  font-weight: 200;
  border-top: 4px solid #FFDE00;
}

.pokemon-color-select {
  display: inline-block;
}

.pokemon-text-logo {
  width: 282px;
  height: 104px;
  margin-bottom: 5px;
}

.table {
  margin-bottom: 25px;
}

.pokeball-spinner {
  width: 200px;
  height: 200px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 750px) {
  .card {
    margin: 20px;
  }

  .pokemon-text-logo {
    width: 212px;
    height: 78px;
    margin-bottom: 5px;
  }

  .kennected-nav-icon {
    width: 66.275px;
    height: 73.875px;
    margin-right: auto;
  }
}

@media screen and (max-width: 400px) {
  .pokemon-text-logo {
    width: 282px;
    height: 104px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 380px) {
  .pokemon-text-logo {
    width: 158.625px;
    height: 58.5px;
  }
}