.App {
  font-size: 20px;
}

/* label,
input,
button {
  margin: 10px;
  padding: 5px;
} */

h1 {
  text-align: center;
}

.kennected-nav-icon {
  width: 88.5px;
  height: 98.5px;
  margin-right: 25px;
}

.login {
  padding: 0% 25%;
}

h1,
.login-title-txt,
.pokemon-color-select,
.pokeball-spinner-container {
  text-align: center;
}

.pokemon-text-logo {
  width: 282px;
  height: 104px;
  margin-bottom: 5px;
}

.navbar-toggler {
  background-color: white;
}

.nav-button-text {
  /* color: blue; */
  /* font-weight: 500; */
}

.pokeball-spinner {
  width: 200px;
  height: 200px;
  /* background-color: #0CB1C4; */
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

.dashboard {
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 750px) {
  .pokemon-text-logo {
    width: 212px;
    height: 78px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 400px) {
  .pokemon-text-logo {
    width: 282px;
    height: 104px;
    margin-bottom: 5px;
  }
}