body {
  margin: 10px;
  font-family: "Lato";
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/imgs/kennectedpokedex-main-background.jpg);
}

#root {
  height: 100%;
}